stages:
  - deploy

variables:
  # Define the deployment directory here for easy reconfiguration
  APP: "desflow"

deploy_production:
  stage: deploy
  tags:
    - selfhosted
  only:
    - main
  script:
    # Create directory if it doesn't exist
    - mkdir -p /home/project/deploy/$APP

    # Sync files to the server
    # Note: We sync the *contents* of current dir (.) into the specific folder
    - rsync -av --delete ./ /home/project/deploy/$APP/

    # Go to the project root where the server-managed docker-compose.yml is located
    # (Assuming the compose file is INSIDE this directory as per recent instructions)
    - cd /home/project/$APP

    # Build and start the container
    - docker compose up -d --build --force-recreate --remove-orphans

    # Prune unused images to save space
    - docker image prune -f
