stages:
  - deploy

deploy_production:
  stage: deploy
  tags:
    - selfhosted
  script:
    # Pastikan folder deploy ada
    - mkdir -p /home/project/deploy/desflow

    # Sinkronisasi file ke folder deploy
    - rsync -av --delete ./ /home/project/deploy/desflow/

    - cd /home/project/desflow

    # Stop container + hapus image project ini
    - docker compose down

    # Hapus semua container yang tidak terpakai
    - docker image prune -f

    # Build image baru
    - docker compose build --no-cache

    # Jalankan container baru
    - docker compose up -d
